<!DOCTYPE html>
<html>
<head>
  <title>Tones</title>
  <%= stylesheet_link_tag    "tones/application", media: "all" %>
  <%= javascript_include_tag "tones/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
