<!DOCTYPE html>
<html>
<head>
  <title>Tones</title>
  <%= stylesheet_link_tag    "tones/application", media: "all" %>
  <%= javascript_include_tag "tones/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
